@import config
@import fonts

*, 
*::before, 
*::after
  box-sizing: border-box

*:active
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
  -webkit-tap-highlight-color: transparent

img
  max-width: 100%
  height: auto

a, button
  outline: none

h1, h2, h3, h4, h5, h6, p, ul, li
  margin: 0
  padding: 0

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

body
  margin: 0
  padding: 0
  font-family: $fontfamily
  font-size: $fontsize
  line-height: $lineheight
  font-weight: $fontweight
  color: $color
  background-color: $background-color



.container
    max-width: 1200px
    min-width: 320px
    margin: 0 auto
    padding: 0 25px
    +to(680px)
      padding: 0

.background-image.visible
  background-image: url("../image/@1x/background-img.jpg")
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  @include retina
    background-image: url("../image/@2x/background-img.jpg")
  +to($break_sm)
    background-image: none
    @include retina
      background-image: none

.no-webp .background-image.visible
  +to($break_sm)
    background-image: none
    @include retina
      background-image: none

.header
  display: grid
  grid-template-columns: 1fr max-content
  grid-template-rows: repeat(2, min-content)
  grid-row-gap: 55px
  +to($break_sm)
    grid-row-gap: 0
  &__logo
    grid-row: 2/3
    margin-bottom: 435px
    +to($break_md)
      margin-bottom: 255px
    +to($break_sm)
      margin-bottom: 0

.logo
  +to($break_sm)
    grid-row: 1/2
    width: 100%
    background-color: #242424
    & img
      width: 225px !important
      height: auto !important
  & picture
    display: flex
    justify-content: center
    +to($break_md)
      height: 105px

.menu
  background-color: #000000
  +to($break_sm)
    position: relative
    grid-row: 2/3
    background-color: $color-accent
  &__open
    position: absolute
    top: 0
    right: 0
    z-index: 10
    width: 70px
    height: 50px
    padding: 15px 17px
    align-self: baseline
    background-color: #6a4d38
    border: none
    cursor: pointer
    transition: all 0.3s ease
    &::before
      content: ''
      position: absolute
      top: 15px
      left: 17px
      width: 37px
      height: 2px
      background-color: $link-color
      box-shadow: 0 8px 0 0 $link-color, 0 16px 0 0 $link-color
    &:hover,
    &:focus
      background-color: #755a46
    &:active::before
      opacity: 0.3
    +from($break_sm)
      display: none
  &__wrap
    display: flex
    justify-content: space-between
    max-width: 960px
    min-width: 320px
    margin: 0 auto
    +to($break-md)
      justify-content: center
    +to($break_sm)
      display: block
      margin: 0
  &__list,
  &__user,
  &__item
    margin: 0
    padding: 0
  &__item
    padding: 25px 30px
    text-align: center
    background-color: $link-bg-color
    list-style-type: none
    transition: all 0.3s ease
    &:hover,
    &:active
      background-color: $link-hover-bg
      cursor: pointer
    &:hover
      & .menu__link
        color: $link-hover
    &:active
      & .menu__link
        opacity: 0.3
    &--active
      pointer-events: none
    +to($break-md)
      padding-right: 15px
      padding-left: 15px
      &:hover,
      &:active
        background-color: $link-bg-color
      &:hover
        & .menu__link
          color: $color-accent
      &:active
        & .menu__link
          color: $link-color
    +to($break_sm)
      padding-top: 11px
      padding-bottom: 11px
      text-align: start
      background-color: $color-accent
      border-top: 1px solid #886e5b
      border-bottom: 1px solid #71543f
      &:hover,
      &:active
        background-color: $color-accent
        & .menu__link
          color: $link-color
  &__list
    display: grid
    grid-template-columns: repeat(5, max-content)
    +to($break_sm)
      display: block
  &__link
    display: block
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    text-decoration: none
    color: $link-color
    &--active
      position: relative
      &::after
        content: ''
        position: absolute
        left: 0
        bottom: -27px
        height: 3px
        width: 100%
        background-color: $color-accent
      +to($break_sm)
        &::after
          display: none

.user
  &__item
    &:hover
      & .user__link
        color: $link-hover
      & .user__icon
        opacity: 1
        fill: #000000
    &:active
      & .user__link,
        opacity: 0.3
    +to($break-md)
      &:hover
        & .user__icon
          fill: $color-accent
      &:active
        & .user__icon
          fill: #ffffff
    +to($break_sm)
      background-color: #6a4d38
      & .user__icon
          opacity: 0.15
      &:hover,
      &:active
        background-color: #6a4d38
        & .user__link
          color: $link-color
      &:active
        & .user__icon
          opacity: 0.4
  &__icon
    height: 27px
    margin-right: 20px
    opacity: 0.3
    fill: #ffffff
    +to($break-md)
      margin-right: 0
    +to($break_sm)
      margin-right: 13px
  &__link
    display: flex
    align-items: center
    +to($break-md)
      position: relative
      & span
        position: absolute
        opacity: 0
    +to($break_sm)
      & span
        position: static
        text-transform: none
        opacity: 1

.statistics
  display: grid
  grid-template-columns: 1fr 2fr
  margin-top: -171px
  margin-bottom: 75px
  background-color: $background-color
  +to($break_lg)
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, min-content)
    margin-top: -198px
  &__header
    position: relative
    padding: 35px
    color: #000000
    background-color: #ffffff
    &::before
      content: ""
      position: absolute
      top: 35px
      left: -20px
      border: 10px solid transparent 
      border-top: 10px solid  #ffffff
      border-right: 10px solid  #ffffff
    +to($break_lg)
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, min-content)
        grid-row-gap: 20px
    +to(680px)
      &::before
        display: none
    +to($break_sm)
      display: block
      text-align: center
  &__benefit
    display: block
    margin-bottom: 35px
    font-weight: 700
    font-size: 40px
    line-height: 40px
    +to($break_lg)
      margin-bottom: 0
    +to($break_sm)
      margin-bottom: 15px
  &__text
    margin-bottom: 50px
    +to($break_lg)
      grid-column: 2 / 3
      margin-bottom: 0
      margin-left: 30px
    +to($break_sm)
      margin: 0 auto
      max-width: 300px
      & br
        display: none
  &__decryption
    opacity: 0.3
    &-top
      +to($break_sm)
        display: none
    &-bottom
      text-align: center
      +from($break_sm)
        display: none
  &__list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    margin: 0
    padding: 0
    +to(680px)
      grid-template-columns: 1fr
    +to($break_sm)
      margin-bottom: 15px
  &__item
    padding: 30px
    background-color: #404040
    +to(680px)
      display: flex
      justify-content: space-between
      align-items: center
      &:nth-child(2n)
        background-color: #4e4e4e
    +from(680px)
      &:nth-child(2)
        background-color: #4e4e4e
      &:nth-child(3)
        background-color: #4e4e4e
    & dt
      margin-bottom: 10px
      font-weight: 700
      font-size: 72px
      line-height: 72px
      +to(680px)
        margin-bottom: 0
      +to($break_xs)
        font-size: 40px
    & dd
      margin: 0
      padding: 0
      color: #f7f4f1
      +to($break_sm)
        text-align: right
      +to($break_xs)
        font-size: 18px
      +from($break_sm)
        & br
          display: none

.advantage
  color: #f7f4f1
  +to($break_md)
    padding: 0 30px
  +to($break_sm)
    padding: 0 40px
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    text-align: center
    +to($break_md)
      grid-template-columns: 1fr
      grid-template-rows: repeat(3, min-content)
      grid-row-gap: 40px
      text-align: left
    +to($break_sm)
      display: block
      text-align: center
  &__item
    display: grid
    grid-template-rows: repeat(3, min-content)
    padding: 0 calc( 25px + (70 - 25) * ((100vw - 320px) / (1200 -320)))
    border-right: 1px solid rgba(255, 255, 255, 0.1)
    list-style-type: none
    +to($break_md)
      grid-template-columns: 1fr 3fr
      grid-template-rows: repeat(2, min-content)
      padding: 0 0 40px 0
      border-right: none
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    +to($break_sm)
      grid-template-columns: 1fr
      grid-template-rows: repeat(3, min-content)
      border-bottom: none
    &:last-child
      border-right: none
      +to($break_md)
        border-bottom: none
    &::before
      content: ""
      justify-self: center
      width: 100px
      height: 100px
      margin-bottom: 30px
      background-position: top center
      background-repeat: no-repeat
      +to($break_md)
        grid-row: span 2
        justify-self: start
        align-self: center
        margin-bottom: 0
      +to($break_sm)
        justify-self: center
        align-self: stretch
        margin-bottom: 30px
    &--fast
      &::before
        background-image: url("../image/svg/advantage-icon-1.svg")
    &--cool
      +to($break_sm)
        display: none
      &::before
        background-image: url("../image/svg/advantage-icon-2.svg")
    &--expensive
      +to($break_sm)
        display: none
      &::before
        background-image: url("../image/svg/advantage-icon-3.svg")
  &__title
    margin-bottom: 15px
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
  &__box
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(15px, 15px))
    grid-gap: 20px
    justify-content: center
    max-width: 140px
    margin: 0 auto
    +from($break_sm)
        display: none
  &__button
    display: block
    width: 15px
    height: 15px
    margin-right: 20px
    background-color: transparent 
    border: 1px solid #ffffff
    transform: rotate(45deg)
    &:last-child
      margin-right: 0
    &--active
      background-color: #ffffff